<%- include layouts/header.ejs %>

        <div class="page-data">
         <div class="data-table">
            <table border="1" cellpadding="7" cellspacing="7">
                <tr>
                    <th width="50px">Customer ID</th>
                    <th>VIP Status</th>
                    <th>Balance</th>
                </tr>

                <% if(data.length){

                 for(var i = 0;i < data.length;i++) { %>

                <tr>
                    <td><%=data[i].customerID%></td>
                    <td><%=data[i].vipStatus%></td>
                    <td><%=data[i].balance%></td>
                </tr>
            <% }

             }else{ %>
                 <tr>
                    <td colspan="3">No user</td>
                 </tr>
            <% } %>



            </table>
         </div>
        </div>

<%- include layouts/footer.ejs %>
